*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    letter-spacing: -0.5px;
    line-height: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.unscroll {
    overflow: hidden;
}

main {
    flex: 1;
}

:root {
    --black: #171718;
    --white: #fff;
    --purple: #5c62ec;
    --dark-border: #26292d;

    --dark-text: var(--black);
    --white-text: var(--white);
    --dark-bg: var(--black);
    --accent: var(--purple);
}

.title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--accent);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media(max-width: 768px) {

    .title {
        font-size: 54px;
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) {

    .title {
        font-size: 32px;
        margin-bottom: 20px;
    }
}